[Unit]
Description=aMule Daemon
After=network.target

[Service]
User=venator
Group=users
ExecStart=/usr/bin/amuled
Restart=on-failure

[Install]
WantedBy=multi-user.target
